@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.flex {
    display: flex;
    align-items: center;
}

.border {
    border: 2px solid rgb(204, 204, 204);
    border-top: none;
}

h1 {
    font-size: 40px;
}

p {
    margin-left: 20px;
}

#nav-content, #main-content {
    width: 70%;
    margin: 0 auto;
    gap: 30px;
}

#nav-container {
    min-height: 70px;
    background-color: black;
    padding: 20px 0;
}

#nav-content {
    color: white;
    justify-content: space-between;
}

#main-content {
    min-height: 500px;
    padding-top: 30px;
}

#details-container{
    min-height: 700px;
    flex: 2;
}

#user-card{
    min-height: 250px;
    margin-bottom: 30px;
}

#user-card-header {
    min-height: 100px;
    background-color: rgb(20, 163, 184);
    position: relative;
}

#profile-circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50px;
    left: 30px;
}

#user-card-body {
    min-height: 300px;
    padding: 30px;
}

#education {
    min-height: 150px;
}

#education-header, #requests-header, #connections-header {
    min-height: 60px;
    background-color: rgb(51, 51, 51);
    color: white;
    position: relative;
}

#education-header {
    padding: 15px 30px;
}

#education-body {
    min-height: 150px;
    padding: 15px 30px;
}

#connections-container{
    min-height: 700px;
    flex: 1;
}

.connections-circles {
    width: 50px;
    border-radius: 50%;
}

.accept-close {
    width: 40px;
}

.connections {
    margin-bottom: 15px;
}

#requests-circle, #connections-circle {
    background-color: rgb(204, 204, 204);
    color: black;
    border-radius: 50%;
    position: absolute;
    text-align: center;
}

#requests-circle {
    height: 30px;
    width: 30px;
    top: 15px;
    left: 20px;
}

#connections-circle {
    height: 40px;
    width: 80px;
    line-height: 40px;
    top: 10px;
    left: 20px;
}





#requests {
    min-height: 200px;
    margin-bottom: 30px;    
}

#requests-header, #connections-header {
    text-align: right;
    padding: 15px 20px;
}

#requests-body {
    min-height: 150px;
    padding: 20px 20px 0px;
}

#connections {
    min-height: 200px;
}


#connections-body {
    min-height: 285px;
    padding: 20px 20px 0px;
}

#connections-footer {
    min-height: 45px;
    padding: 10px 5px;
}

ul {
    list-style-type: none;
    flex: 2;
    justify-content: space-between;
}

#btn-container {
    flex: 1;
    justify-content: end;
}

#my-profile {
    font-weight: bold;
}

button {
    background-color: rgb(20, 163, 184);
    color: white;
    font-size: 20px;
    border: none;
    padding: 2px 10px;
}


#jane {
    width: 90px;
    border-radius: 50%;
}

#user-card-list {
    margin-top: 20px;
}

.icon-size {
    width: 20px
}

.important-words {
    font-size: 30px;
}

.list-space{
    margin-bottom: 20px;
}

a {
    color: rgb(12, 83, 148);
    margin-left: 7px;
}

#dates {
    color: rgb(102, 102, 102);
}

.request-info {
    justify-content: space-between;
}